<div>
  <h1>Price Calculator</h1>

  <div>
    <label>Quantity: </label>
    <span>{{ quantity() }}</span>
    <br />
    <button (click)="changeQuantity(1)">Increase Quantity</button>
    <button (click)="changeQuantity(-1)">Decrease Quantity</button>
  </div>

  <div>
    <label>Unit Price: </label>
    <span>{{ unitPrice() }}</span>
    <br />
    <button (click)="changePrice(1)">Increase Price</button>
    <button (click)="changePrice(-1)">Decrease Price</button>
  </div>

  <div>
    <h2>Total Price: </h2>
    <span>{{ totalPrice() }}</span>
  </div>
</div>
